/* Autocomplete container */
.autocomplete {
  position: absolute;
  bottom: 50px; /* or any other value that positions the list above the textarea */
  left: 0;
  width: 100%;
}

/* Autocomplete items */
.autocomplete-items {
  border: 1px solid #545353;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container */
  top: 100%;
  bottom: auto;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  cursor: pointer;
  border-bottom: 1px solid #545353;
  font-family: var(--vscode-font-family);
  font-size: 0.75em;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

.autocomplete-items div:hover {
  color: var(--vscode-input-background);
  background-color: var(--vscode-input-foreground);
}

/* When navigating through the items using the arrow keys: */
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
