.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
genreadme_from_docs.py
packages/**
docs/**

